@model Pickup.Models.ViewViewModel.ViewInformationViewModel

@if (Model.Delivery)
{
    <h2>Delivery Information</h2>
}
else
{<h2>Pickup Information</h2>}


 <ul id="pickupinfo">
     <li class="scheduler-info"><span class="property-name">Scheduled By:</span> @Model.Scheduler</li>
     <li class="scheduler-info"><span class="property-name">Date Scheduled:</span> @Model.ScheduleDateTime</li>

     <li><span class="property-name">Pickup Date / Time:</span> @Model.PickupDateTime</li>

     <li><span class="property-name">Name:</span> @Model.FirstName @Model.LastName</li>
     <li><span class="property-name">Phone Number:</span> @Model.PhoneNumber</li>
     @if (!String.IsNullOrEmpty(Model.PhoneNumberTwo))
    {
     <li><span class="property-name">Phone Number 2:</span> @Model.PhoneNumberTwo</li>}

     <li>
         <span class="property-name">Address:</span> @Model.StreetAddress@if (!String.IsNullOrEmpty(Model.Apt))
        {<span>#</span> @Model.Apt
     }<br />
        @Model.City, @Model.ZIP</li>
     @if (!String.IsNullOrEmpty(Model.Neighborhood))
     {
     <li><span class="property-name">Neighborhood:</span> @Model.Neighborhood</li>}


     <li><span class="property-name">Call En Route:</span> @Model.CallEnRoute</li>
     @if (!String.IsNullOrEmpty(Model.SpecialInstructions))
     {
     <li><span class="property-name">Special Instructions:</span> @Model.SpecialInstructions</li> }
     @foreach (var x in Model.Furniture)
    {
     <li>
         @x.Name - @if (Model.Delivery)
    {@x.Description}
else
{ @x.Quantity}
     </li>
}
 </ul>