@model Pickup.Models.PickupOrDelivery



<ul>
    <li>Name: @Model.Address.Donor.FirstName @Model.Address.Donor.LastName</li>
    <li>Phone: @Model.Address.Donor.PhoneNumber</li>
    <li> Phone #2: @Model.Address.Donor.PhoneNumberTwo</li>
    <li>Address: @Model.Address.Street, @Model.Address.Apartment @Model.Address.City, @Model.Address.ZIP </li>
    <li>Neighborhood: @Model.Address.Neighborhood</li>
    <li>Pickup Date: @Model.PickupDate </li>
    <li>Special Instructions: @Model.SpecialInstructions</li>
    <li>Scheduler: @Model.UserId </li>
</ul>