<h2>@ViewBag.Title</h2>

<form method="post">
    @foreach(var property in ViewData.ModelMetadata.Properties)
{
    <div class="form-group">
        <label for="@property.PropertyName">@(property.DisplayName ?? property.PropertyName)</label>
        @Html.Editor(property.PropertyName)
        @Html.ValidationMessage(property.PropertyName, new { @class = "help-block" })
    </div>

}
    <input type="submit" value="Add @ViewBag.Title" />
    </form>

