@model Pickup.Models.BlacklistViewModels.SearchToBlacklist

<h2>Search Results</h2>


@if (Model.Results != null)
{<ul>
        @foreach (var customer in Model.Results)
        {
            <li>
                <ul>
                    <li>
                        <h4>@customer.DonorCustomer.FirstName @customer.DonorCustomer.LastName</h4>
                    </li>
                   
                    <li><span class="name">Phone Number</span>: @customer.DonorCustomer.PhoneNumber</li>

                    @if (customer.DonorCustomer.PhoneNumberTwo != null)
                    {
                        <li><span class="name">Second Phone Number</span>: @customer.DonorCustomer.PhoneNumberTwo</li>
                    }
                    @if (customer.Address != null)
                    {
                    <li>
                        <span class="name">Address</span>: @customer.Address.Street
                        @if (customer.Address.Apartment != null)
                        {
                            @:#@customer.Address.Apartment
                        }<br />
                        @customer.Address.City @customer.Address.ZIP
                    </li>}
                </ul>
                <p><a asp-controller="Blacklist" asp-action="AddToBlacklist" asp-route-customerId="@customer.DonorCustomer.ID">
                Blacklist this person.</a></p>
            </li>
        }
    </ul>   
}
