@model Pickup.Models.DonationPickupViewModels.SearchViewModel
@{
    Layout = "_Popup";
}

<h2>Search for Existing Donor</h2>

<form asp-controller="Search" asp-action="SearchResults">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
    </div>

    <input type="submit" value="Search" />
</form>
@if (Model.SearchResults != null)
{
<section class="result">

    @if (@Model.SearchResults.Count == 0)
    {
        <h3>No Results</h3>
    }
    @foreach (var result in Model.SearchResults)
    {<div class="donor-result">
        <h3>@result.DonorCustomer.FirstName @result.DonorCustomer.LastName</h3>
        <ul>
            <li><span class="name">Phone Number: </span>@result.DonorCustomer.PhoneNumber</li>
            @if (result.DonorCustomer.PhoneNumberTwo != null)
            {
                <li><span class="name">Phone #2: </span>@result.DonorCustomer.PhoneNumberTwo</li>
            }
        </ul>
        <p>
            <a href="JavaScript:void(0);"
               onclick="openInParent('/PickupDelivery/Address?customerId=@result.DonorCustomer.ID');">
                Use new address for this person.
            </a>
        </p>
        <h4>Addresses for @result.DonorCustomer.FirstName
    @result.DonorCustomer.LastName: </h4>

        <div class="address-result">
            @foreach (var address in result.Addresses)
            {<div class="address">
                <p>
                    @address.Street @if (address.Apartment != null)
                    {
                        @:# @address.Apartment
                    }
                    <br /> @address.City @address.ZIP
                </p>
                <p class="pickup-link">
                    <a href="JavaScript:void(0);"
                       onclick="openInParent('/PickupDelivery/CreateNew?AddressId=@address.ID');">
                        Create new pickup using this address.
                    </a>
                </p>
            </div>
            }
        </div>

    </div>}
</section>
}

@*@if (Model.Donors != null)
    {@if (@Model.Donors.Count == 0)
        {<h3>No Results</h3>}
    @foreach (DonorCustomer donor in Model.Donors)
    {

        <section class="result">
            <h3>@donor.FirstName @donor.LastName</h3>
            <ul>
                <li><span class="name">Phone Number: </span>@donor.PhoneNumber</li>
                @if (donor.PhoneNumberTwo != null)
                {
                    <li><span class="name">Phone #2: </span>@donor.PhoneNumberTwo</li>}
            </ul>
            <p>
                <a href="JavaScript:void(0);"
                   onclick="openInParent('/PickupDelivery/Address?customerId=@donor.ID');">
                    Use new address for this donor.
                </a>
            </p>

        </section>
    }
    }
    @if (Model.Addresses != null)
    {
        @foreach (Address address in Model.Addresses)
        {
            <section class="result">
            <h3>Address for: @address.DonorCustomer.FirstName @address.DonorCustomer.LastName</h3>
            <ul>
                <li>
                    <span class="name">Phone Number: </span>
                    @address.DonorCustomer.PhoneNumber
                </li>
                @if (address.DonorCustomer.PhoneNumberTwo != null)
                {
                    <li>
                        <span class="name">Phone #2: </span>
                        @address.DonorCustomer.PhoneNumberTwo
                    </li>}

                <li>
                    <span class="name">Address: </span>
                    @address.Street @address.Apartment <br /> @address.City  @address.ZIP
                </li>
            </ul>

            <p>
                <a href="JavaScript:void(0);"
                   onclick="openInParent('/PickupDelivery/CreateNew?AddressId=@address.ID');">
                    Create new pickup using this address.
                </a>
            </p></section>


        }

    }*@

<script>
    function openInParent(url) {
        window.opener.location.href = url;
        window.close();
    }
</script>


