
@using Pickup.Models.ScheduleViewModels
@model Dictionary<DateViewModel, IList<int>>



<table id="monthly-calendar-mini">
    <tr>
    <th colspan="7">
        @DateTime.Now.ToString("MMMM") @DateTime.Now.Year
    </th>
        </tr>
    <tr>
        <td>Su</td>
        <td>Mo</td>
        <td>Tu</td>
        <td>We</td>
        <td>Th</td>
        <td>Fr</td>
        <td>Sa</td>
    </tr>
    <tr>
        @foreach (KeyValuePair<DateViewModel, IList<int>> date in Model)

        {
            int day = (int)date.Key.Date.DayOfWeek;
            @if (date.Key.Date.Day == 1)
            {
                @for (int i = 0; i < day; i++)
                {
                    <td></td>
                }}

<!--Begin date -->
<td>

@if(date.Key.IsBlackedOut) {
 <div class="blacked-out" title="This date has been blacked out.">@date.Key.Date.Day</div>
}
else { 
<div class="pickups-@date.Value.Count">

    @if (date.Value.Count > 0)
    {
      <a href="/Schedule/DaySchedule?date=@date.Key.Date.ToShortDateString()"
         target="popup"
         onclick="window.open('/Schedule/DaySchedule?date=@date.Key.Date.ToShortDateString()',
           'popup', 'width=600,height=600');
          return false;" title="@date.Value.Count">
                        @date.Key.Date.Day
      </a>
    }

    else
    {
        @date.Key.Date.Day} 
       </div>
    }
 </td>
 <!-- End Date -->

            @if (date.Key.Date.ToString("dddd") == "Saturday")
            {@:</tr>
            @:<tr>
            }
        } 
    </tr>
</table>

