
@using Pickup.Models.ScheduleViewModels
@model Dictionary<DateTime, IList<MiniCalendarViewModel>>



<table id="monthly-calendar-mini">
    <tr>
    <th colspan="7">
        @DateTime.Now.ToString("MMMM") @DateTime.Now.Year
    </th>
        </tr>
    <tr>
        <td>Su</td>
        <td>Mo</td>
        <td>Tu</td>
        <td>We</td>
        <td>Th</td>
        <td>Fr</td>
        <td>Sa</td>
    </tr>
    <tr>
        @foreach (KeyValuePair<DateTime, IList<MiniCalendarViewModel>> date in Model)

        {
            int day = (int)date.Key.DayOfWeek;
            @if (date.Key.Day == 1)
            {
                @for (int i = 0; i < day; i++)
                {
                    <td></td>
                }}
            <td>
                <div class="pickups-@date.Value.Count" title="@date.Value.Count">
                    @if (date.Value.Count > 0)
                    {
                        <a asp-controller="Schedule"
                           asp-action="DaySchedule"
                           asp-route-date="@date.Key.ToShortDateString()">
                            @date.Key.Day
                        </a> }
                    else
                    {
                        @date.Key.Day}
                </div>
            </td>

            @if (date.Key.ToString("dddd") == "Saturday")
            {@:</tr>
            @:<tr>
            }
        }
    </tr>
</table>

