@using Pickup.Models.ScheduleViewModels
@model IOrderedEnumerable<CalendarViewModel>

<h2>Welcome!</h2>
<h3>Quick Links</h3>
<ul>
    <li><a asp-controller="ManageItems" asp-action="Index">Add Items/Categories.</a></li>
    <li><a asp-controller="Blacklist" asp-action="BlackoutDay">Block out a date.</a></li>
</ul>
<h3>Today's Pickups and Deliveries</h3>

@if (!Model.Any())
{
    <p>There doesn't appear to be anything scheduled for today.</p>

}
@foreach (var item in Model)
{
    <div class="pdschedule">
        <ul>
            <li>
                <h4>
                    <a asp-controller="Home" asp-action="View" asp-route-id="@item.PickupOrDelivery.ID">
                        @item.DonorCustomer.FirstName @item.DonorCustomer.LastName
                    </a>
                </h4>
            </li>
            <li>@item.PickupOrDelivery.PickupDateTime.ToString("hh:mm tt")</li>

            <li> @item.Address.City</li>
            <li>@item.DonorCustomer.PhoneNumber</li>
            @if (item.PickupOrDelivery.Delivery)
            {
                <li class="deliver"> Delivery</li>}
        </ul>
    </div>
}


