@using Microsoft.AspNetCore.Identity
@using Pickup.Models.ScheduleViewModels
@model IList<WeeklyCalendarViewModel>

<h2>Welcome!</h2>
   <h3>Today's Pickups and Deliveries</h3>
@if (Model.Count == 0)
{
    <p>There are no pickups/deliveries scheduled for today.</p>

}
    @foreach (var item in Model)
    {@if (!item.Cancelled)
        {
   <div class="pdschedule">
       <ul>
           <li><h4>
    <a asp-controller="Home" asp-action="View" asp-route-id="@item.PickupID">
        @item.FirstName @item.LastName
</a></h4></li>
           <li>@item.PickupTime.ToString("hh:mm tt")</li>

           <li> @item.City</li>
           <li>@item.Phone</li>
           @if (item.Delivery)
        {
           <li>@item.Delivery</li>}
       </ul>
   </div>}
}

 
