@model Pickup.Models.SearchViewModels.SearchViewModel

<h2>Existing Customer?</h2>

<p>This person may be in our system already! Please check the results below. </p>

<section class="existing-person-list">

    @if (@Model.SearchResults.Count == 0)
    {
        <h3>No Results</h3>
    }
    @foreach (var result in Model.SearchResults)
    {<div class="donor-result">
            <h3>@result.DonorCustomer.FirstName @result.DonorCustomer.LastName</h3>
            <ul>
                <li><span class="name">Phone Number: </span>@result.DonorCustomer.PhoneNumber</li>
                @if (result.DonorCustomer.PhoneNumberTwo != null)
                {
                    <li><span class="name">Phone #2: </span>@result.DonorCustomer.PhoneNumberTwo</li>
                }
            </ul>
            <p>
                <a asp-controller="PickupDelivery" asp-action="Address" asp-route-customerId="@Context.Request.Query["tid"]">
                    Use new address for this person.
                </a>
            </p>

            <div class="address-result">
                @for (int i = 0; i < result.Addresses.Count; i++)
                {
                    var a = result.Addresses[i];
                    int j = i + 1;
                    <div class="address">
                        <h4>Address @j </h4>
                        <p>
                            @a.Street @if (a.Apartment != null)
                            {
                                @:# @a.Apartment
                            }
                            <br /> @a.City @a.ZIP
                        </p>
                        <p class="pickup-link">
                            <a asp-controller="PickupDelivery" asp-action="CreateNew" asp-route-addressId="@a.ID">
                                Create new pickup using this address.

                            </a>
                        </p>
                    </div>
                }
            </div>

        </div>}
</section>

<p><a asp-controller="PickupDelivery" asp-action="NotExisting" asp-route-customerId="@Context.Request.Query["tid"]">This is a new person. </a></p>
