@using Pickup.Models.DonationPickupViewModels
@model FurniturePickupViewModel

<h2>@ViewBag.Title</h2>
<form method="post">
    <input asp-for="PickupID" />
    @for (int i = 0; i < Model.Categories.Count; i++)
    {
        var cats = Model.Categories[i];

        <div class="furniture-group">
            <h3>@cats.Name</h3>
            <ul>
                @for (int j = 0; j < cats.FurnitureLists.Count; j++)
                {
                    var furniture = cats.FurnitureLists[j];
                <li>
                    <button type="button" id="" class="incdecbutton"> - </button>

                    <input type="number" id="@furniture.ID" name="@furniture.ID" />
                    <button type="button" id="" class="incdecbutton"> + </button>

                    @furniture.Name

                </li>

                }
            </ul>
        </div>
    }
    <button id="clear" type="submit">Add @ViewBag.Title</button>
</form>