@model Pickup.Models.HomeViewModel.ViewInformationViewModel

@if (Model.PickupOrDelivery.Delivery)
{
    <h2>Delivery Information</h2>
}
else
{<h2>Pickup Information</h2>}

 <p><a href="?id=@Model.PickupOrDelivery.ID&popup=true" target="_blank">
View printable version. </a></p>
<table id="pickupinfo">

    @if (Model.PickupOrDelivery.Cancelled)
    {
        <tr>
            <td colspan="2" id="cancelled">Cancelled</td>
        </tr>
    }

    <tr>
        <th colspan="2">
            @Model.DonorCustomer.FirstName @Model.DonorCustomer.LastName
        </th>
    </tr>

    <tr>
        <td>
            <span class="property-name">Pickup Date </span>
        </td>
        <td>
            @Model.PickupOrDelivery.PickupDateTime.ToString("MMMM dd yyyy")
        </td>
    </tr>


    <tr>
        <td>
            <span class="property-name">Phone Number</span>
        </td>
        <td>
            @Model.DonorCustomer.PhoneNumber
        </td>
    </tr>


    @if (!String.IsNullOrEmpty(Model.DonorCustomer.PhoneNumberTwo))
    {
        <tr>
            <td>
                <span class="property-name">Phone Number 2</span>
            </td>
            <td>
                @Model.DonorCustomer.PhoneNumberTwo
            </td>
        </tr>}

    <tr>
        <td>
            <span class="property-name">Address</span>
        </td>
        <td>
            @Model.Address.Street
            @if (!String.IsNullOrEmpty(Model.Address.Apartment))
            {@:# @Model.Address.Apartment
        }<br />
            @Model.Address.City, @Model.Address.ZIP
        </td>
    </tr>

    @if (!String.IsNullOrEmpty(Model.Address.Neighborhood))
    {
        <tr>
            <td>
                <span class="property-name">Neighborhood</span>
            </td>
            <td>
                @Model.Address.Neighborhood
            </td>
        </tr>}


    <tr>
        <td>
            <span class="property-name">Call En Route</span>
        </td>
        <td>
            @Model.PickupOrDelivery.CallEnRoute
        </td>
    </tr>


    @if (!String.IsNullOrEmpty(Model.PickupOrDelivery.SpecialInstructions))
    {
        <tr>
            <td>
                <span class="property-name">Special Instructions</span>
            </td>
            <td>
                @Model.PickupOrDelivery.SpecialInstructions
            </td>
        </tr>}

    <tr>
        <td><span class="property-name">Items Donated</span> </td>
        <td>
            <table id="furniture-list-view">
               
                @foreach (var x in Model.Furniture)
        {
            <tr>
                <td class="furniture-count-descr">
                    @if (Model.PickupOrDelivery.Delivery)
            {@x.Description}
else
{ @x.Quantity}
                </td>
                <td>@x.Name </td>

            </tr>

}


            </table>
        </td>
    </tr>
    
    <tr>
        <td>
            <span class="property-name">Scheduled By</span>
        </td>
        <td>
            @Model.Scheduler <br />
            @Model.PickupOrDelivery.ScheduleDateTime

        </td>
    </tr>
</table>
@{ 
    string pd = "Pickup";
    if (Model.PickupOrDelivery.Delivery) {
        pd = "Delivery"; }
}
@if (!Model.PickupOrDelivery.Cancelled) {
    <a class="button" asp-controller="CancelEditPickupDelivery" asp-action="Index" asp-route-pid="@Model.PickupOrDelivery.ID">Edit / Cancel @pd</a> 

}

 